body {
	background-color: #FFFFFF !important;
	font-family: 'Exo 2', sans-serif;
	color: #111111;
	font-size: 18px;
}

.link-panel:hover {
	background-color: #002932;
}

.rounded {
	border-radius: 12px;
}

.sidenav{
	position:fixed;
	margin-top:10px;
	margin-left:15px;
	font-size:24px;
}

p, h1, h2, h3, h4, h5, a {
	font-family: 'Exo 2', sans-serif;
	color: #111111;
}

.current{
	color:#00AAEE;
	margin-left:0.75em;
}

#wrapper {
	margin-top:80px;
	margin-left:12vw;
	margin-right:10vw;
}