body {
	background-color: #FFFFFF !important;
	font-family: 'Exo 2', sans-serif;
	color: #111111;
	font-size: 20px;
}

.link-panel:hover {
	background-color: #002932;
}

.rounded {
	border-radius: 12px;
}

.sidenav{
	position:fixed;
}

p, h1, h2, h3, h4, h5, a {
	font-family: 'Exo 2', sans-serif;
	color: #111111;
}

.current{
	color:#00EEEE;
}

#wrapper {
	margin:60px;
}