body {
	background-color: #000000 !important;
	font-family: 'Exo 2', sans-serif;
	color: #FDFDFF;
	font-size: 20px;
}

.button {
	font-family: verdana;
}
.panel {
	background-color: #222222;
	color: #CCCCCC !important;
	border-color: #555555;
	border-radius: 12px;
}

.link-panel:hover {
	background-color: #002932;
}

.rounded {
	border-radius: 12px;
}

p, h1, h2, h3, h4, h5, a {
	font-family: 'Exo 2', sans-serif;
	color: #CCCCCC !important;
}

#mainBlock {
	margin-top: 4vh;
}