body {
	background-color: #000000 !important;
	font-family: verdana;
	color: #FDFDFF;
	font-size: 20px;
	text-align: center;
}

.item.w2 {
	width: 50%;
}

#container {
	max-width: 60em; /* 960 px */
	margin: 0 auto;
}
#list {
	width: 103.125%; /* 990px */
	overflow: hidden;
	margin-left: -1.562%; /* 15px */
	margin-bottom: -1.875em; /* 30px */
}
.item {
	width: 200px; /* 300px */
	float: left;
	background-color:#B2B2B2;
	border-radius:5px;
	margin-bottom:5px;
}

.masonImg{
	border-radius: 5px;
	width:100%;	
}
