body {
	background-color: #000000 !important;
	font-family: 'Exo 2', sans-serif;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
}

.js-masonry {
	margin-top: 50px;
	margin-left: 60px;
}

#container {
	margin-top: 50px;
	margin-left: 60px;
}

#list {
	width: 103.125%; /* 990px */
	overflow: hidden;
	margin-left: -1.562%; /* 15px */
	margin-bottom: -1.875em; /* 30px */
}
.item {
	width: 300px; /* 300px */
	float: left;
	background-color: #333333;
	border-radius: 7px;
	border-color: #EEEEEE !important;
	border: 0px solid;
	margin-bottom: 5px;
	padding: 6px;
}
a {
	border-color: #EEEEEE;
}

.masonImg {
	border-radius: 7px;
	width: 100%;
}

.link-panel:hover {
	background-color: #505080;
}

p, h1, h2, h3, h4, h5 {
	font-family: 'Exo 2', sans-serif;
	color: #FDFDFD !important;
	margin: 0px;
}
p {
	font-size: 20px;
	line-height: 25px;
}

