body {
	background-color: #222222;
 
}

body * {
	font-family: 'Exo 2', Helvetica, Arial, sans-serif !important;
}

h1 {
	text-decoration: underline
}

.indented {
	margin-left: 20px;
}

.smallMargin {
	margin-bottom: 4px;
}

.setHeight {
	height: 95px;
}

.panel{
	border-radius:8px;
}
.breadcrumbs{
	border-radius:5px;
}
.spinOnce{
    -webkit-animation:spin 10s ease;
    -moz-animation:spin 10s ease;
    animation:spin 10s ease;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@media print {
  .large-1 {
    width: 8.33333%;
  }

  .large-2 {
    width: 16.66667%;
  }

  .large-3 {
    width: 25%;
  }

  .large-4 {
    width: 33.33333%;
  }

  .large-5 {
    width: 41.66667%;
  }

  .large-6 {
    width: 50%;
  }

  .large-7 {
    width: 58.33333%;
  }

  .large-8 {
    width: 66.66667%;
  }

  .large-9 {
    width: 75%;
  }

  .large-10 {
    width: 83.33333%;
  }

  .large-11 {
    width: 91.66667%;
  }

  .large-12 {
    width: 100%;
  }
  .setHeight {
    height: 72px;
  }
  * {
    font-size:11px !important;
  }
  a[href]:after {
    content: none !important;
  }
  a {
      color: black !important;
      text-decoration: none !important;
  }
  .dontprint{
    display: none;
  }
}

