body {
	background-color: #222222;
}

body * {
	//color: #222222 !important;
	font-family: Helvetica, Arial, sans-serif !important;
}

h1 {
	text-decoration: underline
}

.indented {
	margin-left: 20px;
}

.smallMargin {
	margin-bottom: 4px;
}

.setHeight {
	height: 95px;
}

.panel{
	border-radius:5px;
}
