body {
	background-color: #222222;
}

body * {
	font-family: 'Exo 2', Helvetica, Arial, sans-serif !important;
}

h1 {
	text-decoration: underline
}

.indented {
	margin-left: 20px;
}

.smallMargin {
	margin-bottom: 4px;
}

.setHeight {
	height: 95px;
}

.panel{
	border-radius:8px;
}
.breadcrumbs{
	border-radius:5px;
}
.spinOnce{
    -webkit-animation:spin 10s ease;
    -moz-animation:spin 10s ease;
    animation:spin 10s ease;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }an