body {
	background-color: #EEF5FF !important;
	font-family: 'Exo 2', sans-serif;
	color: #222222;
	font-size: 20px;
	text-align: center;
}

.js-masonry {
	margin-top: 50px;
	margin-left: 60px;
}

#container {
	margin-top: 50px;
	margin-left: 60px;
}

#list {
	width: 103.125%; /* 990px */
	overflow: hidden;
	margin-left: -1.562%; /* 15px */
	margin-bottom: -1.875em; /* 30px */
}
.item {
	width: 300px; /* 300px */
	float: left;
	background-color: #FAFAFA;
	border-radius: 7px;
	border-color: #222222 !important;
	border: 1px solid;
	margin-bottom: 5px;
	padding: 6px;
}

a {
	border-color: #222222;
}

.masonImg {
	border-radius: 7px;
	width: 100%;
}

.link-panel:hover {
	background-color: #505080;
}

p, h1, h2, h3, h4, h5 {
	font-family: 'Exo 2', sans-serif;
	color: #505057 !important;
	margin: 0px;
}
p {
	font-size: 20px;
	line-height: 25px;
}

