@font-face { font-family: grumps; src: url('BD_Cartoon_Shout.ttf');} 

html {
	height: 100%;
}

body {
	color: #666666;
	text-align: center;
	height: 100%;
	background-color:black;
}

#message {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #aaaaaa 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#aaaaaa)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#aaaaaa 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#aaaaaa 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#aaaaaa 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#aaaaaa 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#aaaaaa',GradientType=0 ); /* IE6-9 */


	border-radius:10px;
}

p{
	margin: 50px;
	padding-top:20px;
	padding-bottom:20px;
	padding-right:5px;
	padding-left:5px;
	font-size:xx-large;
	font-family:grumps;
}
